<a href="https://colab.research.google.com/github/TrippleA001/Hamoye/blob/main/HDSC_2024_Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

Hamoye ID: 15faad389501f000

In [ ]:
data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
print(data.head())

   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [ ]:
#What is the mean and standard deviation
#across the whole dataset for the year 2017 to 2 decimal places?
mean_of_2017 = data['Y2017'].mean()
std_of_2017 = data['Y2017'].std()
print(f"The mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places is {mean_of_2017} and {std_of_2017}")

The mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places is 140.9177648602722 and 1671.8623590567995

In [ ]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.
#Which of these Areas had the highest sum in 2017?
data.groupby('Area')['Y2017'].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

In [ ]:
#What is the total number of unique countries in the dataset?
data['Area'].nunique()

49

In [ ]:
#Consider the following list of tuples:

#y = [(2, 4), (7, 8), (1, 5, 9)]

#How would you assign element 8 from the list to a variable x?
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
print(x)

8

In [ ]:
#What is the total number and percentage
#of missing data in 2014 to 3 decimal places?
count_of_missing_2014_data = data['Y2014'].isnull().sum()
total_count_of_data = len(data['Y2014'])
percentage_of_missing_2014_data = (count_of_missing_2014_data/total_count_of_data)*100
print(f"Total number of missing data {count_of_missing_2014_data}, percentage of missing data {percentage_of_missing_2014_data}")

Total number of missing data 1589, percentage of missing data 2.6073544131401474

In [ ]:
#What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [ ]:
#Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
data.shape

(60943, 12)

In [ ]:
#Given the following numpy array

array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

#How would you select  the elements in bold and italics from the array?
array[:2, 1:]

array([[89, 63],
       [92, 48]])

In [ ]:
#Answer the following questions based on the
#African food production dataset provided by the FAO website already provided
#What is the total sum of Wine produced in 2015 and 2018 respectively?
#Hint: Perform a groupby sum aggregation on ‘Item’
data.groupby('Item')[['Y2015', 'Y2018']].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

![image.png]()

In [ ]:
#If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

#How do you create a pandas DataFrame using this list,
# to look like the table above?
df = pd.DataFrame(lst, columns = col, index=[i for i in range(1,4)])
print(df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.
#Which of these Areas had the 7th lowest sum in 2017?
data.groupby('Area')['Y2017'].sum().sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [ ]:
#Perform a groupby operation on ‘Element’.
#What is the total number of the sum of Processing in 2017?
data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [ ]:
#What is the total Protein supply quantity in Madagascar in 2015?
data.groupby(['Area','Element'])['Y2015'].sum()['Madagascar']

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

In [ ]:
#Which year had the least corrata.corr()['Element Code'].sort_values(ascending=False) 'Y2017', 'Y2018']].corr(data['Element Code'])

In [ ]:
#Perform a groupby operation on ‘Element’.
#What year has the highest sum of Stock Variation?
data.groupby('Element')[]