In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",)

In [9]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [48]:
a=df.groupby("Item")["Y2014"].sum()
b=df.groupby("Item")["Y2017"].sum()
print(a,b)

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64 Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [49]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [57]:
c=df.isnull().sum()
print(c)
c["Y2016"]/len(df)*100

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

2.5187470259094566

In [63]:
d=df.groupby("Element")["Y2014"].sum()
e=df.groupby("Element")["Y2015"].sum()
f=df.groupby("Element")["Y2016"].sum()
g=df.groupby("Element")["Y2017"].sum()
print(d["Import Quantity"],e["Import Quantity"], f["Import Quantity"], g["Import Quantity"])

274144.48 267018.46 286582.78 294559.09

In [65]:
h=df.groupby("Element")["Y2014"].sum()
h

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [77]:
df2=df[["Y2018", "Element"]]
i=df2.groupby("Element")["Y2018"].sum()
print(i)

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [84]:
j=df.groupby("Area")["Area"].count()
j

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [100]:
from scipy.stats import pearsonr
df3=df.dropna()
list1=df3["Element Code"]
list2=df3["Y2014"]
list3=df3["Y2015"]
list4=df3["Y2016"]
list5=df3["Y2017"]
list6=df3["Y2018"]

corr1, _ = pearsonr(list1, list2)
print('Pearsons correlation: %.3f' % corr1)
corr2, _ = pearsonr(list1, list3)
print('Pearsons correlation: %.3f' % corr2)
corr3, _ = pearsonr(list1, list4)
print('Pearsons correlation: %.3f' % corr3)
corr4, _ = pearsonr(list1, list5)
print('Pearsons correlation: %.3f' % corr4)
corr5, _ = pearsonr(list1, list6)
print('Pearsons correlation: %.3f' % corr5)

Pearsons correlation: 0.026
Pearsons correlation: 0.026
Pearsons correlation: 0.025
Pearsons correlation: 0.026
Pearsons correlation: 0.026

In [112]:
import scipy.stats

print("Spearman's Rank correlation(2014):",scipy.stats.spearmanr(list1, list2)[0])
print("Spearman's Rank correlation(2015):",scipy.stats.spearmanr(list1, list3)[0])
print("Spearman's Rank correlation(2016):",scipy.stats.spearmanr(list1, list4)[0])
print("Spearman's Rank correlation(2017):",scipy.stats.spearmanr(list1, list5)[0])
print("Spearman's Rank correlation(2018):",scipy.stats.spearmanr(list1, list6)[0])

Spearman's Rank correlation(2014): 0.03536977238488826
Spearman's Rank correlation(2015): 0.03196611070655603
Spearman's Rank correlation(2016): 0.03667862567440762
Spearman's Rank correlation(2017): 0.04128906421183611
Spearman's Rank correlation(2018): 0.03627599595126853

In [90]:
k=df.groupby("Area")["Y2018"].sum()
k

Area
Algeria                         341729.98
Angola                          235206.68
Benin                           124960.70
Botswana                         23129.08
Burkina Faso                    112970.72
Cabo Verde                       14622.60
Cameroon                        233022.93
Central African Republic         30101.57
Chad                             72282.24
Comoros                             59.84
Congo                            42005.53
Côte d'Ivoire                   227018.00
Djibouti                         23718.96
Egypt                           852652.92
Eswatini                         55045.07
Ethiopia                        450788.86
Ethiopia PDR                         0.00
Gabon                            28339.38
Gambia                           23513.80
Ghana                           358915.64
Guinea                          103262.08
Guinea-Bissau                    18997.92
Kenya                           270916.80
Lesotho                          19109.23
Liberia                          29629.83
Madagascar                      134576.44
Malawi                          187366.09
Mali                            159026.42
Mauritania                      157479.95
Mauritius                        47150.91
Morocco                         399271.27
Mozambique                      164934.05
Namibia                          29350.04
Niger                           133982.86
Nigeria                        1499774.24
Rwanda                           74839.08
Sao Tome and Principe            12806.49
Senegal                          95493.82
Seychelles                         442.34
Sierra Leone                     55981.73
South Africa                    509787.97
Sudan                           268054.39
Sudan (former)                       0.00
Togo                             54872.00
Tunisia                         127343.17
Uganda                          222147.25
United Republic of Tanzania     349763.41
Zambia                          101604.27
Zimbabwe                         76581.41
Name: Y2018, dtype: float64

In [18]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
a=pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

In [19]:
a

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [24]:
array= ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [36]:
df.shape

(60943, 12)

In [37]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [38]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [40]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][-1]
x

8